DEPLOY_CTRL_SERVER_USER=denjo
DEPLOY_CTRL_SERVER_HOST=wafl-ctrlX
DEPLOY_CTRL_SERVER_DIST=/home/denjo/workspace/XXXX/WAFL-Testbed
REGISTRY_HOST=192.168.11.10

# Docker Hub credentials for setup.sh
DOCKER_HUB_USERNAME=your_dockerhub_username
DOCKER_HUB_PASSWORD=your_dockerhub_password

WANDB_API_KEY=
