DEPLOY_CTRL_SERVER_USER=denjo
DEPLOY_CTRL_SERVER_HOST=wafl-ctrlX
DEPLOY_CTRL_SERVER_DIST=/home/denjo/workspace/XXXX/WAFL-Testbed

# Docker Hub credentials for setup.sh
DOCKER_HUB_USERNAME=your_dockerhub_username
DOCKER_HUB_PASSWORD=your_dockerhub_password
